.demo{
    color: rgb(98, 98, 243)
}
#name{
    color: aqua;
}
#age{
    font-size: 40px;
}
.botton{
    font-size: 30px;
    }
.btton1{
    color: tomato;
}
.blue{
    font-family: = 'Courier New', Courier, monospace;
}