.heading{
    color: blue;
    background: plum;
    
}
body{
    background-image:radial-gradient( rgb(13, 80, 168), rgb(226, 241, 82), rgb(241, 85, 124), rgb(219, 35, 11));
    font-family: 'Indie Flower', cursive;
}
#p1{padding: 20px;
    background: pink;
    text-shadow: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;

}
input[type="text"]{
height: 20px;
width: 140px;
font-size: 10px;
display: block;
}
#box1{
    padding: 50px 50px;
    border: 5px dashed sandybrown;
    margin: 50px 20px 30px 40px;
    
}
#box2{
    background: rgb(233, 164, 187);
    padding: 50px 50px;
    border: 5px dashed sandybrown;
    margin: 150px 20px 30px 40px;
    float: left;
    box-shadow: 5px 5px 5px 2px rgb(21, 3, 189);
    

}
#box3{
    background: rgb(149, 123, 184);
    padding: 50px 50px;
    border: 5px dashed sandybrown;
    margin: 50px 20px 30px 40px;
    
}


