<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

    
        <body style="background-color:darkslategray;">
                <div style="margin: 135px">
                 <form  action="http://mywebapp-env.iwtxgnmf9h.ap-south-1.elasticbeanstalk.com/search" method="GET" class="col-md-4 offset-4 " style="background-color : #fff" >
                    <h3 style="text-align: center;padding: 20px;">Employee Info</h3>
                    <hr>
                    <br>
                     
                   <div class="input-group flex-nowrap">
                     <div class="input-group-prepend">
                       <span class="input-group-text" id="addon-wrapping">EmployeeID</span>
                     </div>
                     <input type="text" name="id" class="form-control" placeholder="Enter employee ID" aria-label="id" aria-describedby="addon-wrapping">
                   </div>
                   <br>
                   <br>
                   <br>
                   <div style="text-align: center;padding: 0px 15px 20px;"  class="btn-group" role="group" >  
                   
                   <button  style="width: 150px" type="submit"  class=" btn btn-outline-primary" >Search</button>
                   <br>
                   <br>
                 </div>
                  </div>
                 
                 
                </div>
               
              
              </div>
             
           
                 </form>
               </div>
           




</body>
</html>