<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee" class="com.covalense.springcore.beans.EmployeeBean3"
	scope="prototype">
	<property name="name" value="Adam"></property>
	<property name="id" value="101"></property>
	<property name="departmentBean" ref="department"></property>
	</bean>
		
	<bean id="department" class="com.covalense.springcore.beans.DepartmentBean"
	scope="prototype">
	<property name="deptId" value="201"></property>
	<property name="deptName" value="IT"></property>
	
	</bean>
</beans>